[submodule "deepflow"]
	path = deepflow
	url = https://github.com/deepflowys/deepflow
[submodule "deepflow-app"]
	path = deepflow-app
	url = git@github.com:deepflowys/deepflow-app.git
[submodule "experiments/exp_7/smartencoding-benchmark"]
	path = experiments/exp_7/smartencoding-benchmark
	url = git@github.com:deepflowys/smartencoding-benchmark.git
